tickTime=3000
initLimit=10
syncLimit=5
clientPort=2181
{% for host in groups['zookeeper'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:2888:3888
{% endfor %}
dataDir=/var/lib/zookeeper
