{
    "name": "cinder-ansible-tasks",
    "mem": 32.0,
    "cpus": 1,
    "command": "kolla_start",
    "container": {
        "type": "DOCKER",
        "image": "{{ kolla_ansible_image_full }}",
        "network": "HOST"
    },
    "environmentVariables": [
        {"name": "KOLLA_CONFIG_STRATEGY", "value": "{{ config_strategy }}"},
        {"name": "KOLLA_CONFIG", "value": "{{ kolla_config }}"},
        {"name": "KOLLA_GROUP", "value": "cinder"},
        {"name": "KOLLA_ROLE", "value": "cinder_ansible_tasks"},
        {"name": "KOLLA_ZK_HOSTS", "value": "{{ zookeeper_hosts }}"},
        {"name": "KOLLA_PRIVATE_INTERFACE", "value": "{{ private_interface }}"},
        {"name": "KOLLA_PUBLIC_INTERFACE", "value": "{{ public_interface }}"},
        {"name": "ANSIBLE_LIBRARY", "value": "/usr/share/ansible/"}]
}
