{
    "id": "/cinder-backup",
    "instances": 1,
    "mem": 128,
    "cpus": 0.3,
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ cinder_backup_image }}:{{ cinder_backup_tag }}",
            "network": "HOST"
        }
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_GROUP": "cinder",
        "KOLLA_ROLE": "cinder-backup",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}"
    }
}
