{
    "id": "/{{ deployment_id }}/heat-api",
    "instances": 1,
    "mem": 128,
    "cpus": 0.3,
    "constraints": [["hostname", "UNIQUE"]],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ heat_api_image }}:{{ heat_api_tag }}",
            "network": "HOST"
        }
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_LOGLEVEL": "{{ init_loglevel }}",
        "KOLLA_GROUP": "heat",
        "KOLLA_ROLE": "heat-api",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}",
        "OS_AUTH_URL": "http://{{ kolla_internal_address }}:{{ keystone_admin_port }}",
        "OS_IDENTITY_API_VERSION": "3",
        "OS_USERNAME": "admin",
        "OS_PASSWORD": "{{ keystone_admin_password }}",
        "OS_PROJECT_NAME": "admin",
        "HEAT_DOMAIN_ADMIN_PASSWORD": "{{ heat_domain_admin_password }}"
    }
}
