{
    "name": "{{ deployment_id }}-heat-bootstrap-tasks",
    "mem": 256.0,
    "cpus": 0.5,
    "command": "kolla_start",
    "container": {
        "type": "DOCKER",
        "image": "{{ heat_api_image }}:{{ heat_api_tag }}",
        "network": "HOST"
    },
    "environmentVariables": [
        {"name": "KOLLA_CONFIG_STRATEGY", "value": "{{ config_strategy }}"},
        {"name": "KOLLA_CONFIG", "value": "{{ kolla_config }}"},
        {"name": "KOLLA_GROUP", "value": "heat"},
        {"name": "KOLLA_ROLE", "value": "heat-bootstrap"},
        {"name": "KOLLA_ZK_HOSTS", "value": "{{ zookeeper_hosts }}"},
        {"name": "KOLLA_PRIVATE_INTERFACE", "value": "{{ private_interface }}"},
        {"name": "KOLLA_PUBLIC_INTERFACE", "value": "{{ public_interface }}"},
        {"name": "OS_AUTH_URL", "value": "http://{{ kolla_internal_address }}:{{ keystone_admin_port }}"},
        {"name": "OS_IDENTITY_API_VERSION", "value": "3"},
        {"name": "OS_USERNAME", "value": "admin"},
        {"name": "OS_PASSWORD", "value": "{{ keystone_admin_password }}"},
        {"name": "OS_PROJECT_NAME", "value": "admin"},
        {"name": "HEAT_DOMAIN_ADMIN_PASSWORD", "value": "{{ heat_domain_admin_password }}"}]
}
