{
    "id": "/{{ deployment_id }}/heat-api-cfn",
    "instances": 1,
    "mem": 128,
    "cpus": 0.3,
    "constraints": [["hostname", "UNIQUE"]],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ heat_api_cfn_image }}:{{ heat_api_cfn_tag }}",
            "network": "HOST"
        }
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_LOGLEVEL": "{{ init_loglevel }}",
        "KOLLA_GROUP": "heat",
        "KOLLA_ROLE": "heat-api-cfn",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}
