name: infra/openvswitch/openvswitch-tasks
openstack_roles: [controller, compute]
enabled: {{ enable_neutron | bool and neutron_plugin_agent == 'openvswitch' }}
container:
  image: "{{ openvswitch_db_image }}:{{ openvswitch_db_tag }}"
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}:/var/log/kolla"
  volumes:
    - containerPath: "/run"
      hostPath: "/run"
      mode: RW
task:
  mem: {{ infra_mem }}
  cpus: {{ infra_cpus }}
commands:
  check_ovs_db:
    dependencies: [openvswitch-db/daemon]
    run_once: True
    retries: 30
    delay: 5
    command: ovs-vsctl --no-wait show
  setup_ovs_bridge:
    dependencies: [openvswitch-tasks/check_ovs_db]
    run_once: True
    retries: 10
    delay: 5
    command: /usr/local/bin/kolla_ensure_openvswitch_configured {{ neutron_bridge_name }} {{ neutron_external_interface }}
