name: infra/openvswitch/openvswitch-vswitchd
openstack_roles: [controller, compute]
enabled: {{ enable_neutron | bool and neutron_plugin_agent == 'openvswitch' }}
container:
  image: "{{ openvswitch_vswitchd_image }}:{{ openvswitch_vswitchd_tag }}"
  privileged: true
  volumes:
    - containerPath: "/run"
      hostPath: "/run"
      mode: RW
    - containerPath: "/lib/modules"
      hostPath: "/lib/modules"
      mode: RO
service:
  daemon:
    dependencies: [openvswitch-tasks/setup_ovs_bridge]
    command: /usr/sbin/ovs-vswitchd unix:/run/openvswitch/db.sock --mlockall
  mem: {{ openvswitch_vswitchd_mem }}
  cpus: {{ openvswitch_vswitchd_cpus }}
