name: infra/openvswitch/openvswitch-vswitchd
enabled: {{ enable_neutron | bool and neutron_plugin_agent == 'openvswitch' }}
container:
  image: "{{ openvswitch_vswitchd_image }}:{{ openvswitch_vswitchd_tag }}"
  privileged: true
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}:/var/log/kolla"
  volumes:
    - containerPath: "/run"
      hostPath: "/run"
      mode: RW
    - containerPath: "/lib/modules"
      hostPath: "/lib/modules"
      mode: RO
service:
  daemon:
    dependencies:
     - path: openvswitch-vswitchd/bootstrap
     - path: openvswitch-vswitchd/setup_ovs_bridge
    command: /usr/sbin/ovs-vswitchd unix:/run/openvswitch/db.sock --mlockall
  mem: {{ openvswitch_vswitchd_mem }}
  cpus: {{ openvswitch_vswitchd_cpus }}
  instances: {{ compute_nodes|int + controller_nodes|int }}
  constraints: [["hostname", "UNIQUE"], ["openstack_role", "LIKE", "(controller|compute)"]]
commands:
  bootstrap:
    command: kolla_extend_start
  check_ovs_db:
    dependencies: [openvswitch-db/daemon]
    retries: 30
    delay: 5
    command: ovs-vsctl --no-wait show
  setup_ovs_bridge:
    dependencies: [openvswitch-vswitchd/check_ovs_db]
    retries: 10
    delay: 5
    command: /usr/local/bin/kolla_ensure_openvswitch_configured {{ neutron_bridge_name }} {{ neutron_external_interface }}
    files:
      ovs_ensure_configured.sh.j2:
        source: "config/neutron/templates/ovs_ensure_configured.sh.j2"
        dest: /usr/local/bin/kolla_ensure_openvswitch_configured
        owner: root
        perm: "0755"
