name: infra/memcached/memcached
container:
  image: "{{ memcached_image }}:{{ memcached_tag }}"
service:
  daemon:
    {% raw %}
    command: /usr/bin/memcached -vv -l {{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }} -p {{ memcached_port }}
    {% endraw %}