name: infra/memcached/memcached
enabled: {{ enable_memcached | bool }}
container:
  image: "{{ memcached_image }}:{{ memcached_tag }}"
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}:/var/log/kolla"
service:
  daemon:
    {% raw %}
    command: /usr/bin/memcached -vv -l {{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }} -p {{ memcached_port }}
    {% endraw %}
  mem: {{ memcached_mem }}
  cpus: {{ memcached_cpus }}
