# PROVIDER = "libvirt"

# PROVIDER_DEFAULTS = {
#   libvirt: {
#     base_image: "centos/7",
#     bridge_interface: "virbr0",
#     vagrant_shared_folder: "/home/vagrant/sync",
#     sync_method: "nfs",
#   },
#   virtualbox: {
#     base_image: "centos/7",
#     bridge_interface: "en0: Wi-Fi (AirPort)",
#     vagrant_shared_folder: "/vagrant",
#     sync_method: "virtualbox",
#   },
# }

# MULTINODE = false

# NUMBER_OF_MESOS_MASTER_NODES = 3
# NUMBER_OF_CONTROLLER_NODES = 3
# NUMBER_OF_COMPUTE_NODES = 1
# NUMBER_OF_STORAGE_NODES = 1

# NODE_SETTINGS = {
#   aio: {
#     cpus: 4,
#     memory: 4096
#   },
#   mesos_master: {
#     cpus: 1,
#     memory: 1024
#   },
#   controller: {
#     cpus: 2,
#     memory: 2048
#   },
#   compute: {
#     cpus: 1,
#     memory: 1024
#   },
#   storage: {
#     cpus: 1,
#     memory: 1024
#   }
# }
