config:
  cinder:
    cinder-api:
      cinder.conf.j2:
        source: ["config/cinder/templates/cinder.conf.j2",
                 "config/cinder/templates/cinder-{{ cinder_volume_driver }}.conf.j2",
                 "/etc/kolla/config/global.conf",
                 "/etc/kolla/config/database.conf",
                 "/etc/kolla/config/messaging.conf",
                 "/etc/kolla/config/cinder.conf",
                 "/etc/kolla/config/cinder/cinder-api.conf"]
        dest: /etc/cinder/cinder.conf
        owner: cinder
        perm: "0600"
    cinder-backup:
      cinder.conf.j2:
        source: ["config/cinder/templates/cinder.conf.j2",
                 "config/cinder/templates/cinder-{{ cinder_volume_driver }}.conf.j2",
{% if cinder_volume_driver == "ceph" %}
                 "config/cinder/templates/cinder-backup-{{ cinder_volume_driver }}.conf.j2",
{% endif %}
                 "/etc/kolla/config/global.conf",
                 "/etc/kolla/config/database.conf",
                 "/etc/kolla/config/messaging.conf",
                 "/etc/kolla/config/cinder.conf",
                 "/etc/kolla/config/cinder/cinder-backup.conf"]
        dest: /etc/cinder/cinder.conf
        owner: cinder
        perm: "0600"
    cinder-scheduler:
      cinder.conf.j2:
        source: ["config/cinder/templates/cinder.conf.j2",
                 "config/cinder/templates/cinder-{{ cinder_volume_driver }}.conf.j2",
                 "/etc/kolla/config/global.conf",
                 "/etc/kolla/config/database.conf",
                 "/etc/kolla/config/messaging.conf",
                 "/etc/kolla/config/cinder.conf",
                 "/etc/kolla/config/cinder/cinder-scheduler.conf"]
        dest: /etc/cinder/cinder.conf
        owner: cinder
        perm: "0600"
    cinder-volume:
      cinder.conf.j2:
        source: ["config/cinder/templates/cinder.conf.j2",
                 "config/cinder/templates/cinder-{{ cinder_volume_driver }}.conf.j2",
                 "/etc/kolla/config/global.conf",
                 "/etc/kolla/config/database.conf",
                 "/etc/kolla/config/messaging.conf",
                 "/etc/kolla/config/cinder.conf",
                 "/etc/kolla/config/cinder/cinder-volume.conf"]
        dest: /etc/cinder/cinder.conf
        owner: cinder
        perm: "0600"
commands:
  cinder:
    cinder-api:
      db_sync:
        run_once: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_database/.done,
                   /kolla/{{ deployment_id }}/variables/cinder_database_user_create/.done]
        register: /kolla/{{ deployment_id }}/variables/cinder_setup/.done
        command: kolla_extend_start
      cinder_api:
        daemon: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_user/.done,
                   /kolla/{{ deployment_id }}/variables/keystone_running/.done,
                   /kolla/{{ deployment_id }}/variables/rabbitmq_bootstrap/.done]
        command: /usr/bin/cinder-api
    cinder-backup:
      cinder_backup:
        daemon: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_user/.done,
                   /kolla/{{ deployment_id }}/variables/keystone_running/.done,
                   /kolla/{{ deployment_id }}/variables/rabbitmq_bootstrap/.done]
        command: /usr/bin/cinder-backup
    cinder-scheduler:
      cinder_scheduler:
        daemon: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_user/.done,
                   /kolla/{{ deployment_id }}/variables/keystone_running/.done,
                   /kolla/{{ deployment_id }}/variables/rabbitmq_bootstrap/.done]
        command: /usr/bin/cinder-scheduler
    cinder-volume:
      cinder_volume:
        daemon: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_user/.done,
                   /kolla/{{ deployment_id }}/variables/keystone_running/.done,
                   /kolla/{{ deployment_id }}/variables/rabbitmq_bootstrap/.done]
        command: /usr/bin/cinder-volume
    cinder_ansible_tasks:
      create_database:
        run_once: True
        requires: [/kolla/{{ deployment_id }}/variables/mariadb_bootstrap/.done]
        register: /kolla/{{ deployment_id }}/variables/cinder_database/.done
        command: /usr/bin/ansible localhost
          -m mysql_db
          -a "login_host='{{ database_address }}'
              login_port='{{ mariadb_port }}'
              login_user='{{ database_user }}'
              login_password='{{ database_password }}'
              name='{{ cinder_database_name }}'"
      database_user_create:
        run_once: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_database/.done]
        register: /kolla/{{ deployment_id }}/variables/cinder_database_user_create/.done
        command: /usr/bin/ansible localhost
          -m mysql_user
          -a "login_host='{{ database_address }}'
              login_port='{{ mariadb_port }}'
              login_user='{{ database_user }}'
              login_password='{{ database_password }}'
              name='{{ cinder_database_name }}'
              password='{{ cinder_database_password }}'
              host='%'
              priv='{{ cinder_database_name }}.*:ALL'
              append_privs='yes'"
      register_endpoint:
        run_once: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_setup/.done,
                   /kolla/{{ deployment_id }}/variables/keystone_running/.done]
        register: /kolla/{{ deployment_id }}/variables/cinder_api_registered/.done
        command: /usr/bin/ansible localhost
          -m kolla_keystone_service
          -a "service_name=cinder
              service_type=image
              description='Openstack Image'
              endpoint_region={{ openstack_region_name }}
              admin_url='http://{{ kolla_internal_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
              internal_url='http://{{ kolla_internal_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
              public_url='http://{{ kolla_external_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
              region_name={{ openstack_region_name }}
              auth={{ '{{ openstack_cinder_auth }}' }}"
          -e "{'openstack_cinder_auth':{{ openstack_cinder_auth }}}"
      create_cinder_user:
        run_once: True
        requires: [/kolla/{{ deployment_id }}/variables/cinder_setup/.done,
                   /kolla/{{ deployment_id }}/variables/keystone_running/.done]
        register: /kolla/{{ deployment_id }}/variables/cinder_user/.done
        command: /usr/bin/ansible localhost
          -m kolla_keystone_user
          -a "project=service
              user=cinder
              password={{ cinder_keystone_password }}
              role=admin
              region_name={{ openstack_region_name }}
              auth={{ '{{ openstack_cinder_auth }}' }}"
          -e "{'openstack_cinder_auth':{{ openstack_cinder_auth }}}"
