{% set mysql_dir = 'mysql' if kolla_base_distro in ['ubuntu', 'debian'] else '' %}
config:
  mariadb:
    mariadb:
      kolla_mesos_start.py:
        source: kolla_mesos/container_scripts/start.py
        dest: /usr/local/bin/kolla_mesos_start
      galera.cnf.j2:
        source: config/mariadb/templates/galera.cnf.j2
        dest: /etc/{{ mysql_dir }}/my.cnf
        owner: mysql
        perm: "0600"
commands:
  mariadb:
    mariadb:
      bootstrap:
        command: kolla_extend_start
        env:
          KOLLA_BOOTSTRAP:
          DB_ROOT_PASSWORD: "{{ database_password }}"
        run_once: True
        register: /kolla/{{ deployment_id }}/variables/mariadb_bootstrap
      mysqld:
        command: /usr/bin/mysqld_safe --wsrep-new-cluster
        daemon: True
        run_once: False
        requires: [/kolla/{{ deployment_id }}/variables/mariadb_bootstrap]
        register: /kolla/{{ deployment_id }}/variables/mysqld
