{% set mysql_dir = 'mysql' if kolla_base_distro in ['ubuntu', 'debian'] else '' %}
config:
  mariadb:
    mariadb:
      extend_start.sh.j2:
        source: config/mariadb/templates/extend_start.sh.j2
        dest: /usr/local/bin/kolla_mesos_extend_start
        owner: mysql
        perm: "0755"
      galera.cnf.j2:
        source: config/mariadb/templates/galera.cnf.j2
        dest: /etc/{{ mysql_dir }}/my.cnf
        owner: mysql
        perm: "0600"
commands:
  mariadb:
    mariadb:
      bootstrap:
        command: kolla_mesos_extend_start
        env:
          KOLLA_BOOTSTRAP:
          DB_ROOT_PASSWORD: "{{ database_password }}"
          DB_MAX_TIMEOUT: "{{ database_max_timeout }}"
        run_once: True
        register: /kolla/{{ deployment_id }}/variables/mariadb_bootstrap/.done
      mysqld:
        command: /usr/bin/mysqld_safe --wsrep-new-cluster
        daemon: True
        run_once: False
        requires: [/kolla/{{ deployment_id }}/variables/mariadb_bootstrap/.done]
