{
  "zk": "zk://{% for host in groups['zookeeper'] %}{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos",
  "refreshSeconds": 60,
  "ttl": 60,
  "domain": {{ mesos_domain }},
  "port": 53,
  "resolvers": [{{ mesos_resolvers }}],
  "timeout": 5,
  "httpon": true,
  "IPSources": ["netinfo","mesos","host"]
}
