{
    "id": "/glance-registry",
    "instances": 1,
    "mem": 128,
    "cpus": 0.3,
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ glance_registry_image }}:{{ glance_registry_tag }}",
            "network": "HOST"
        }
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_GROUP": "glance",
        "KOLLA_ROLE": "glance-registry",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}
