{
    "id": "/{{ deployment_id }}/{{ service_name }}",
    "instances": 1,
    "container": {
        "type": "DOCKER",
        "docker": {
            "network": "HOST"
        }
    },
    "env": {
        "KOLLA_SKIP_EXTEND_START": "",
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_LOGLEVEL": "{{ init_log_level }}",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}