{
    "name": "{{ deployment_id }}-{{ service_name }}",
    "mem": 512.0,
    "cpus": 0.3,
    "command": "kolla_start",
    "container": {
        "type": "DOCKER",
        "image": "{{ kolla_toolbox_image }}:{{ kolla_toolbox_tag }}",
        "network": "HOST"
    },
    "environmentVariables": [
        {"name": "KOLLA_SKIP_EXTEND_START", "value": ""},
        {"name": "KOLLA_CONFIG_STRATEGY", "value": "{{ config_strategy }}"},
        {"name": "KOLLA_CONFIG", "value": "{{ kolla_config }}"},
        {"name": "KOLLA_LOGLEVEL", "value": "{{ init_log_level }}"},
        {"name": "KOLLA_GROUP", "value": "{{ group }}"},
        {"name": "KOLLA_ROLE", "value": "{{ role }}"},
        {"name": "KOLLA_ZK_HOSTS", "value": "{{ zookeeper_hosts }}"},
        {"name": "KOLLA_PRIVATE_INTERFACE", "value": "{{ private_interface }}"},
        {"name": "KOLLA_PUBLIC_INTERFACE", "value": "{{ public_interface }}"},
        {"name": "KOLLA_DEPLOYMENT_ID", "value":  "{{ deployment_id }}"},
        {"name": "ANSIBLE_LIBRARY", "value": "/usr/share/ansible/"}]
}
