{
    "id": "/keystone",
    "instances": 1,
    "mem": 128,
    "cpus": 0.3,
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ keystone_image_full }}",
            "network": "HOST"
        }
    },
    "env": {
        "OS_TOKEN": "{{ keystone_admin_token }}",
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_GROUP": "keystone",
        "KOLLA_ROLE": "keystone",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}
