{
    "id": "/{{ deployment_id }}/mariadb",
    "instances": 1,
    "mem": 128,
    "cpus": 0.3,
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ mariadb_image }}:{{ mariadb_tag }}",
            "network": "HOST",
            "parameters": [
                {"key": "volume", "value": "mariadb:/var/lib/mysql"}
            ]
        },
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_LOGLEVEL": "{{ init_loglevel }}",
        "KOLLA_GROUP": "mariadb",
        "KOLLA_ROLE": "mariadb",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}
