name: openstack/cinder/cinder-volume
enabled: {{ enable_cinder | bool }}
container:
  image: "{{ cinder_volume_image }}:{{ cinder_volume_tag }}"
service:
  daemon:
    dependencies: [cinder_ansible_tasks/create_user,
                   keystone_ansible_tasks/running,
                   rabbitmq/daemon]
    command: /usr/bin/cinder-volume
    files:
      cinder.conf.j2:
        source: ["config/cinder/templates/cinder.conf.j2",
                 "config/cinder/templates/cinder-{{ cinder_volume_driver }}.conf.j2",
                 "/etc/kolla-mesos/config/global.conf",
                 "/etc/kolla-mesos/config/database.conf",
                 "/etc/kolla-mesos/config/messaging.conf",
                 "/etc/kolla-mesos/config/cinder.conf",
                 "/etc/kolla-mesos/config/cinder/cinder-volume.conf"]
        dest: /etc/cinder/cinder.conf
        owner: cinder
        perm: "0600"
  mem: {{ api_endpoint_mem }}
  cpus: {{ api_endpoint_cpus }}
