name: openstack/cinder/cinder-api
task:
  mem: 512.0
  cpus: 0.3
  command: kolla_start

commands:
  create_database:
    run_once: True
    dependencies: [mariadb/bootstrap]
    command: {{ ansible_task_cmd }}
      -m mysql_db
      -a "login_host='{{ database_address }}'
          login_port='{{ mariadb_port }}'
          login_user='{{ database_user }}'
          login_password='{{ database_password }}'
          name='{{ cinder_database_name }}'"
  database_user_create:
    run_once: True
    dependencies: [cinder_ansible_tasks/create_database]
    command: {{ ansible_task_cmd }}
      -m mysql_user
      -a "login_host='{{ database_address }}'
          login_port='{{ mariadb_port }}'
          login_user='{{ database_user }}'
          login_password='{{ database_password }}'
          name='{{ cinder_database_name }}'
          password='{{ cinder_database_password }}'
          host='%'
          priv='{{ cinder_database_name }}.*:ALL'
          append_privs='yes'"
  register_endpoint_v1:
    run_once: True
    dependencies: [cinder-api/db_sync, keystone_ansible_tasks/running]
    command: {{ ansible_task_cmd }}
      -m kolla_keystone_service
      -a "service_name=cinder
          service_type=volume
          description='Openstack Block Storage'
          endpoint_region={{ openstack_region_name }}
          admin_url='http://{{ kolla_internal_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
          internal_url='http://{{ kolla_internal_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
          public_url='http://{{ kolla_external_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
          region_name={{ openstack_region_name }}
          auth={{ '{{ openstack_cinder_auth }}' }}"
      -e "{'openstack_cinder_auth':{{ openstack_cinder_auth }}}"
  register_endpoint_v2:
    run_once: True
    dependencies: [cinder-api/db_sync, keystone_ansible_tasks/running]
    command: {{ ansible_task_cmd }}
      -m kolla_keystone_service
      -a "service_name=cinderv2
          service_type=volumev2
          description='Openstack Block Storage'
          endpoint_region={{ openstack_region_name }}
          admin_url='http://{{ kolla_internal_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
          internal_url='http://{{ kolla_internal_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
          public_url='http://{{ kolla_external_address }}:{{ cinder_api_port }}/v2/%(tenant_id)s'
          region_name={{ openstack_region_name }}
          auth={{ '{{ openstack_cinder_auth }}' }}"
      -e "{'openstack_cinder_auth':{{ openstack_cinder_auth }}}"
  create_cinder_user:
    run_once: True
    dependencies: [cinder-api/db_sync, keystone_ansible_tasks/running]
    command: {{ ansible_task_cmd }}
      -m kolla_keystone_user
      -a "project=service
          user=cinder
          password={{ cinder_keystone_password }}
          role=admin
          region_name={{ openstack_region_name }}
          auth={{ '{{ openstack_cinder_auth }}' }}"
      -e "{'openstack_cinder_auth':{{ openstack_cinder_auth }}}"
