{% set keystone_cmd = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set keystone_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
config:
  keystone:
    keystone:
      wsgi-keystone.conf.j2:
        source: config/keystone/templates/wsgi-keystone.conf.j2
        dest: /etc/{{ keystone_dir }}/keystone.conf
        owner: keystone
        perm: "0600"
      keystone.conf.j2:
        source: ["/etc/kolla/config/global.conf",
                 "/etc/kolla/config/database.conf",
                 "/etc/kolla/config/messaging.conf",
                 "config/keystone/templates/keystone.conf.j2",
                 "/etc/kolla/config/keystone.conf"]
        dest: /etc/keystone/keystone.conf
        owner: keystone
        perm: "0600"
      extend_start.sh.j2:
        source: config/keystone/templates/extend_start.sh.j2
        dest: /usr/local/bin/kolla_mesos_extend_start
        owner: keystone
        perm: "0755"
commands:
  keystone:
    keystone:
      setup:
        run_once: True
        requires: [/kolla/{{ deployment_id }}/variables/keystone_database,
                   /kolla/{{ deployment_id }}/variables/keystone_database_user_create]
        register: /kolla/{{ deployment_id }}/variables/keystone_setup
        command: bash kolla_mesos_extend_start
      keystone_api:
        run_once: False
        daemon: True
        requires: [/kolla/{{ deployment_id }}/variables/keystone_setup]
        register: /kolla/{{ deployment_id }}/variables/keystone_api
        command: "/usr/sbin/{{ keystone_cmd }} -DFOREGROUND"
    keystone_ansible_tasks:
      create_database:
        run_once: True
        retries: 3
        delay: 5
        requires: [/kolla/{{ deployment_id }}/variables/mariadb_bootstrap]
        register: /kolla/{{ deployment_id }}/variables/keystone_database
        command: /usr/bin/ansible localhost
          -m mysql_db
          -a "login_host='{{ database_address }}'
              login_port='{{ mariadb_port }}'
              login_user='{{ database_user }}'
              login_password='{{ database_password }}'
              name='{{ keystone_database_name }}'"
      database_user_create:
        run_once: True
        retries: 3
        delay: 5
        requires: [/kolla/{{ deployment_id }}/variables/keystone_database]
        register: /kolla/{{ deployment_id }}/variables/keystone_database_user_create
        command: /usr/bin/ansible localhost
          -m mysql_user
          -a "login_host='{{ database_address }}'
              login_port='{{ mariadb_port }}'
              login_user='{{ database_user }}'
              login_password='{{ database_password }}'
              name='{{ keystone_database_name }}'
              password='{{ keystone_database_password }}'
              host='%'
              priv='{{ keystone_database_name }}.*:ALL'
              append_privs='yes'"
      sanity_check:
        run_once: True
        retries: 10
        delay: 5
        requires: [/kolla/{{ deployment_id }}/variables/keystone_setup]
        register: /kolla/{{ deployment_id }}/variables/keystone_running
        command: /usr/bin/ansible localhost
          -m kolla_sanity
          -a "service=keystone
              project=service
              user=admin
              password={{ keystone_admin_password }}
              role=admin
              region_name={{ openstack_region_name }}
              auth={{ '{{ openstack_keystone_auth }}' }}"
          -e "{'openstack_keystone_auth':{{ openstack_keystone_auth }}}"
