{
    "id": "/neutron-agents",
    "instances": 1,
    "mem": 128,
    "cpus": 0.2,
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ neutron_agents_image }}:{{ neutron_agents_tag }}"
            "network": "HOST"
        }
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_GROUP": "neutron",
        "KOLLA_ROLE": "neutron-agents",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}
