{
    "id": "/{{ deployment_id }}/openvswitch-vswitchd",
    "instances": 1,
    "mem": 128,
    "cpus": 0.1,
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ openvswitch_vswitchd_image }}:{{ openvswitch_vswitchd_tag }}",
            "network": "HOST"
        }
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_GROUP": "neutron",
        "KOLLA_ROLE": "openvswitch-vswitchd",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}
