{
    "id": "/{{ deployment_id }}/openvswitch-db",
    "instances": 1,
    "mem": 128,
    "cpus": 0.1,
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{ openvswitch_db_image }}:{{ openvswitch_db_tag }}",
            "network": "HOST",
            "parameters": [
                {
                    "key": "volume",
                    "value": "openvswitch_db:/var/lib/openvswitch/"
                }
            ]
        },
        "volumes": [
            {
                "containerPath": "/run",
                "hostPath": "/run",
                "mode": "RW"
            }
        ]
    },
    "env": {
        "KOLLA_CONFIG_STRATEGY": "{{ config_strategy }}",
        "KOLLA_CONFIG": "{{ kolla_config }}",
        "KOLLA_GROUP": "neutron",
        "KOLLA_ROLE": "openvswitch-db",
        "KOLLA_ZK_HOSTS": "{{ zookeeper_hosts }}",
        "KOLLA_PRIVATE_INTERFACE": "{{ private_interface }}",
        "KOLLA_PUBLIC_INTERFACE": "{{ public_interface }}"
    }
}
